<div ng-controller='servicesCtrl'>
	<div class="container-fluid container-fullw padding-bottom-30 bg-black padding-top-40">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-white text-bold">{{ service.name }}</h1>
				</div>	
			</div>
		</div>
	</div>    
	<div class="container-fluid container-fullw padding-bottom-50 bg-light-grey padding-top-20">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>
						{{ service.desc }}	
					</p>
				</div>
				<div class="col-md-6">
						
				</div>
			</div>
		</div>
	</div>
</div>